{% load staticfiles %}
<!DOCTYPE>
<html lang="en">
<head>
    <title>Test blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesh  eet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="page-header">
    <h1><a href="/home">Blog</a></h1>
</div>
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
                <div class="post">
                    {% if post.date %}
                        <div class="date">
                            {{ post.date }}
                        </div>
                    {% endif %}

                    <h1><a class="btn btn-default" href="{% url 'post_update_form' pk=post.pk %}"><span
                            class="glyphicon glyphicon-pencil">{{ post.title }}</span></a></h1>
                    <p>{{ post.body }}</p>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>