{% extends 'forum/base.html' %}

{% block content %}
    <div class="post">
        {% if post.date %}
            <div class="date">
                {{ post.date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_update' pk=post.pk %}"><span
                class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        <h1>{{ post.category }}</h1>
        <h1>{{ post.topic }}</h1>
        <p>{{ post.body|linebreaksbr }}</p>
    </div>
{% endblock %}